# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
backend/.venv/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment variables
.env
.env.*
!.env.example

# Node / Next.js
node_modules/
.next/
out/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Tests / Cache
.coverage
htmlcov/
.pytest_cache/
.cache/