DJANGO_SECRET_KEY=
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=nexus_academy
DB_USER=nexus_user
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432

GOOGLE_CLIENT_ID=

CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
CSRF_TRUSTED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000